*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Body */
body{
    font-family: 'Montserrat', sans-serif;
    padding: 40px;
    width: 1280px;
    background-color: #f5f7fa;

}
/* Main */
.main-container{
    display: flex;
    box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
}
/* Sidebar */
.my-photo{
    width: 370px;
}
.sidebar-container{
    width: 370px;
    background-color: #1e2939;
    padding-top: 40px;
    padding-bottom: 40px;
}
/* Contacts */
.contacts-container{
    margin-top: 60px;
    margin-left: 40px;
    margin-right: 40px;
}
.contacts-title {
    color: #ffffff;
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 20px;
}
.contacts-link-type{
    font-weight: 700;
    color: #ffffff;
    font-size: 14px;
    margin-right: 10px;
}
.contacts-link{
    opacity: 0.5;
    color: #ffffff;
    font-weight: 400;
}
/* skills */
.skill-title{
    margin-bottom: 20px;
    color: #ffffff;
    font-size: 22px;
    font-weight: 700;
}
.skill-container{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 55px;
}
.skills-item-list{
    
    font-size: 14px;
    font-weight: 400;
    margin-left: 15px;
    color: #ff6b08;
}
.skill-text{
    color: #dfdfdf;
}
/* About me */
.about-me-container{
    text-align: justify;
    padding-right: 200px;
    padding-left: 90px;
    padding-top: 110px;
    padding-bottom: 110px;
}
.profession{
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
}
.name{
    margin-top: 25px;
    font-size: 45px;
    font-weight: 700;
}
.about-me-text{
    
    margin-top: 25px;
    font-size: 14px;
    font-weight: 400;
}
/* Project */
.project-container{
    margin-top: 65px;
}
.about-me-headers{
    font-size: 22px;
    font-weight: 700;
}
.project-list{
    margin-top: 12px;
    font-size: 14px;
    font-weight: 700;
    list-style-position: inside;
}
.project-list-item{
    text-align: left;
}
.project-list-link{
    color: #595959;
    font-size: 14px;
    font-weight: 400;
}

.project-list-points{
    margin-left: -5px;
    margin-right: -5px;
    color: #a8a8a8;
    text-align: right;

}
.project-list-types{
    font-weight: 400;
    color: #595959;
}
/* Working expirience */

.working-place{
    color: #ff6b08;
}
.working-position{
    font-size: 16px;
    font-weight: 700;
    margin-top: 20px;
}

.work-date{
    color: #a8a8a8;
    font-size: 12px;
    font-weight: 400;
    margin-top: 15px;
}
.work-expirience-list{
    margin-top: 15px;
    color: #595959;
    font-size: 14px;
    font-weight: 400;
}

  
  
