body{
    font-family: 'Montserrat', sans-serif;
    

}
.backside-container{
    padding: 10px;
    width: 1280px;
    background-color: #f5f7fa;
}
.main-container{
    display: flex;
    margin: 40px;
    box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
}
img{
    width: 370px;
    height: 354px;
    padding-top: 40px;
}
.side-container{
    width: 370px;
    background-color: #1e2939;
    
}
.side-container h3{
    color: #ffffff;
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
}
.side-container-text{
    padding-left: 40px;
}

.contacts-container
{
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: 0.42px;
}
.contacts-container a{
    opacity: 0.5;
    color: #ffffff;
}
.side-container ul{
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 0.42;
}
.about-me-container{
    padding-left: 49px;
    padding-top: 68px;
    padding-right: 189px; 
}
h2{
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.42px;
}
h1{
    margin-top: 24px;
    font-size: 45px;
    font-weight: 700;
    line-height: 89px;
}
p{
    margin-top: 24px;
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
}
h3{
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
}
h4{
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.48px;
}
h4 span{
    color: #ff6b08;
}
span{
    color: #a8a8a8;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.36px;
}
.work-experience ul{
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    /* Text style for "Lorem ipsu" */
    letter-spacing: 0.42px;
}